# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SamuraiShiba.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UNIMI\POLIMI-VDG\SamuraiShiba\.idea\.idea.SamuraiShiba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
